.add-role-button{
    cursor: pointer;
    justify-content: center;
    background-color: #f44848;
    border: none;
    width: 11%;
    border-radius: .5rem;
    align-items: center;
    padding: 0.5%;
    height: 50%;

}
.add-role-button button{
    border: none;
    cursor: pointer;
    width: 100%;
    justify-content: center;
    width: 100%;
    background-color: #f44848;

}
a{
    color: #4c5f71;
    opacity: 0.9;
}
.heading-role{
    margin-top: 1.5%;
    align-items: center;
    justify-content: flex-end;
    gap: 2%;
    height: 8%;
    margin-bottom: 1.5%;
}
.add-role-button p {
    color: white;
}

.add-role-button i {
    color: white;
    padding-right: 5%;
}

.role-heading{
    justify-content: space-between;
}
.role-name{
    /* word-spacing: 80%; */
    font-weight: 800;
    font-size: .8rem;
    /* word-spacing: .1rem; */
}

.filter-options{
    font-weight: normal;
    font-size: .8rem;
}
.filter-options option {
    margin: 0rem;
}
.role-block{
    padding: 10% 5% 3% 7%;
    gap: 1.2rem;
}
.edit-icon img{
    height: 70%;
}
.role-info-container
{
    gap: .3rem;
}
.role-info-name{
    margin-left: auto;
}

.role-info>:nth-child(2),
.role-info>:last-child,
.role-info p{
    font-weight: 500;
    opacity: 0.85;
    color: #4c5f71;
    font-size: .7rem;
}

.view-btn{
    text-align: right;
width: 43%;
}


.employee-cnt-img{
    margin-left: auto;
    height: 1rem;
    align-items: center;
}
.employee-cnt-img img{
    height: 100%;
    margin-left: -.5rem;
}
.employee-cnt-img p{
    padding-top: 10%;
    background-color: white;
    display: inline;
    margin-left: -.6rem;
    height: .7rem;
    width: 1rem;
    font-size: .4rem;
    text-align: center;
    border-radius: 50%;
}

@media (max-width : 1080px){
    .heding{
        margin-top:1rem ;
    }
    .role-info>:nth-child(2),
.role-info>:last-child,
.role-info p{
   
    font-size: 1rem;
}
.role-name{
    font-size: 1.1rem;
}
.view-btn{
font-size: .8rem;
}
.add-role-button{
    width: 15%;
}
.employee-cnt-img p{
    font-size: .5rem;
}

}
@media (max-width:720px) {
    .add-role-button{
        width: 18%;
    }
}
@media (max-width:500px) {
    .add-role-button{
        width: 21%;
    }
}